NODE_ENV=development
PORT=6060

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=smartmart
DB_PASSWORD=smartmart
DB_NAME=smartmart

JWT_SECRET=change-me-in-production
JWT_ACCESS_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN_DAYS=30

CORS_ORIGIN=http://localhost:3001
